version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/py.Dockerfile
    container_name: backend
    expose:
      - "8080"

  nginx:
    build:
      context: .
      dockerfile: nginx/nginx.Dockerfile
    container_name: nginx
    ports:
      - "80:80"